nav.white(role='navigation')
    .nav-wrapper.container
        a#logo-container.brand-logo(href='/' + site.currentLanguage)
            img(src='/images/logo/easybird.png')
        ul.right
            if isBlog
                li
                    a(href="/" + site.currentLanguage) Home
                li
                    a(href='/' + site.currentLanguage + '/blog') Blog
            else
                li
                    a(href='/' + site.currentLanguage + '/blog') Blog
                each locale in site.locales
                    li
                        -var localeUpperCase = locale.toUpperCase()
                        a(href='/' + locale + site.currentRoute)=localeUpperCase