mixin a(title, url, openInOtherTab, cssClasses, onClick)
    - var target = "_blank"
    if (openInOtherTab === false)
        - target = undefined
    a.light-green-text(class=cssClasses, href=url target=target onClick=onClick)!=title
        block
