mixin h4(text, cssClasses)
    h4(class = cssClasses)!=text
        block

mixin h5(text, cssClasses)
    h5(class = cssClasses)!=text
        block

mixin h6(text, cssClasses)
    h6(class = cssClasses)!=text
        block