#easyblog ul,
#easyblog ol {
    padding-left: 2rem;
    padding-bottom: 1rem;
}

#easyblog ol li {
    list-style-type: upper-roman;
}

#easyblog ul li {
    list-style-type: circle;
}

#easyblog p {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#easyblog .tiny {
    padding-top: 0;
    font-size: 10px;
}

.title {
    color: #795548 !important;
}

.light {
    font-weight: 300
}

.code-block {
    line-height: 1;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 13px;
    padding: 20px;
}

/* ==========================================================================
   Read Progress
   ========================================================================== */

#progressbar {
    background-color: #f3f3f3;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: inherit;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.post-progress-info {
    position: relative;
    z-index: 9999;
    display: block;
    overflow: hidden;
    font-size: 13px;
    line-height: 135%;
    padding-bottom: 4px;
}

#progressbar-value {
    position: relative;
    z-index: 99999;
    color: #8bc34a !important;
    font-size: 13px;
    font-style: italic;
}

.post-progress {
    position: relative;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    border-left: #8bc34a !important;
    margin: 0 0 40px 0;
}

.post-progress:after {
    background: #f3f3f3;
    height: 1px;
    width: 100%;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}
