include ./title
include ./subTitle
include ./articleSignature
include ./topImage
include ./articleImage
include ./text
include ./paragraphTitle
include ./paragraphSubTitle
include ./quote
include ./list
include ./expandArticle

mixin componentParser(article, isSummary)
    if (isSummary)
        - var articleUrl = "/" + site.currentLanguage + site.currentRoute + "/" + article.route
    else
        - var articleUrl = "/" + site.currentLanguage + site.currentRoute
    each component in article.componentList
        if (component.componentId === 'title')
            +title(article.title, articleUrl)
        if (component.componentId === 'subTitle')
            +subTitle(article.subTitle)
        if (component.componentId === 'articleSignature')
            +articleSignature(article.date, "5")
        if (component.componentId === 'topImage')
            +topImage(article.topImageUrl)
        if (component.componentId === 'paragraphTitle')
            +paragraphTitle(component.text)
        if (component.componentId === 'paragraphSubTitle')
            +paragraphSubTitle(component.text)
        if (component.componentId === 'quote')
            +quote(component.text)
        if (component.componentId === 'text')
            +text(component.text)
        if (component.componentId === 'highlightedText')
            +highlightedText(component.text)
        if (component.componentId === 'orderedList')
            +orderedList(component.text)
        if (component.componentId === 'unorderedList')
            +unorderedList(component.text)
        if (component.componentId === 'articleImage')
            +articleImage(component.text)
        if (isSummary)
            if (component.componentId === 'expandArticle')
                +expandArticle(articleUrl)
                - break;