include ../html/a
include ../html/strong
include ../html/newLine
include ../html/code

mixin textParser(text)
    each textParcel in text
        if (typeof textParcel === 'string' || text instanceof String)
            =textParcel
        else
            if (textParcel.strong)
                    +strong(textParcel.strong)
            if (textParcel.link)
                    +a(textParcel.link, textParcel.url, textParcel.openInOtherTab, "light-green-text")
            if (textParcel.newLine)
                    +newLine(textParcel.newLine)
            if (textParcel.lang)
                    +code(textParcel.lang, textParcel.code)
