#index-banner.parallax-container
    .section.no-pad-bot
        .container
            br
            br
            h1.header.center Easybird
            .row.center
                h5.header.col.s12.light!=content.BANNER_TITLE
    .parallax
        img(src='/images/spoor.jpg')
