.parallax-container.valign-wrapper
    .section.no-pad-bot
        .container
            .row.center
                h5.header.col.s12.light!=content.BANNER_END
    .parallax
        img(src='/images/klimop.jpg')