footer.page-footer.teal.white
    .container
        .row
            .col.l12.s12.right-align
                h5.light-green-text!=content.BIO_TITLE
                p.light!=content.BIO_TEXT_1
                p.light!=content.BIO_TEXT_2
    .footer-copyright
        .container.light-green-text Made by
            a.brown-text.text-lighten-3(href='http://cazamundo.be', target='_blank')  Cazamundo GCV