include component/componentParser

mixin articleList(articles)
    if articles
        each article in articles
            div.card#easyblog
                div.card-content
                    +componentParser(article, true)
            div.section