extends ../../layout

block append stylesheets
    link(rel='stylesheet' type='text/css' href="/stylesheets/easyblog/easyblog.css" media='screen,projection')

block mainContent
    div#blog-overview-app
        !=react.renderedApp

block append javascripts
    script.
        var blogOverviewProps = !{JSON.stringify(react.initProps).replace(/<\//g, "<\\/")};
    script(type = 'text/javascript' src=react.bundle)
